SMB_SHARE=data
SMB_HOSTNAME=somehost
SMB_IP=145.136.242.10
TZ=Europe/Amsterdam
DOMAIN_NAME=localdomain.loc
ADMIN_SERVER=dc1.localdomain.loc
WORKGROUP=localdomain
AD_USERNAME=Administrator
AD_PASSWORD=V3rY1ns3cur3P4ssw0rd
SHARE_COMMENT=Groups fileshare
SHARE_NAME=Groups
AD_NAME=ad.naturalis.nl
AD_NAME_IP1=1.1.1.1
AD_NAME_IP2=2.2.2.2
AD_SHORTNAME=ad
AD_SHORTNAME_IP1=1.1.1.1
AD_SHORTNAME_IP1=2.2.2.2